<div class="contact-container" [@slideInOut]>
  <div class="right-side">
    <div class="text-body">
      <div class="face-badge">
        <div class="tagline">
          <div class="face-circle"></div>
          <span class="roek-title">Roekeloos.be</span>
          <span class="roek-mini-line">Web development, ramblings and writing</span>
        </div>
      </div>
    </div>
    <div class="address first">
      Zwijgerstraat 16 <br />
      2000 Antwerp <br />
      Belgium <br />
    </div>
    <div class="address">
      BTW &raquo; BE0673 951 149 <br />
    </div>
    <div class="address">
      <a href="mailto:christophe@roekeloos.be">christophe@roekeloos.be</a> <br />
      Tel.  &raquo; +32 486 077 048<br /><br />
      <div class="github-icon"></div>&nbsp;<a href="https://github.com/ChristopheVandePoel" target="_blank">Github</a><br />
      <div class="linkedin-icon"></div>&nbsp;<a href="https://www.linkedin.com/in/christophe-van-de-poel/" target="_blank">LinkedIn</a><br />
      <div class="instagram-icon"></div>&nbsp;<a href="https://www.instagram.com/roekeloos.be/" target="_blank">Instagram</a><br />
    </div>
  </div>
  <div class="left-side">
    <div class="contact-tabs">
      <span (click)="changeTabTo('greet')" [class.active]="isActiveTab('greet')">&larr;</span>
    </div>
    <clear></clear>
    <div class="text-body" *ngIf="isActiveTab('greet')" [@fadeInOut]>
      <p>Hi, I'm <span class="emph">Christophe Van de Poel</span>, Web Developer and proud owner of <span class="emph">Roekeloos.be</span>.</p>
      <p>I can provide a complete solution to your online needs, using the coolest toys.</p>
      <div class="text-credentials"></div>
      <p>I specialize in:</p>
        <ul>
          <li>Developing <span class="emph">web and mobile</span> applications that suite your needs.</li>
          <li>Implementing backend infrastructure to update your application. (Wordpress, PHP, MySQL, NodeJs,...)</li>
          <li>Providing <span class="emph">brand design</span>, both digital and print, to help you stand out in the crowd.</li>
          <li><span class="emph">Consulting</span> on frontend solutions for the modern development environment.</li>
          <ul>
            <li>Bleeding-edge Frontend frameworks and their architecture (Angular, React, Redux/graphQL, Webpack, gulp,...)</li>
            <li>Continuous integration</li>
            <li>Agile workflows</li>
            <li>...</li>
          </ul>
        </ul>
        <br />
        <br />
    <button (click)="changeTabTo('contact')">Click here to contact me!</button>
    </div>
    <div class="text-body" *ngIf="isActiveTab('contact')" [@fadeInOut]>
      <p>Feel free to  <span class="emph">contact me</span> if you need help with your dream, or if you need someone to fend off disaster:</p>
      <div class="mail-overlay" *ngIf="mailPending || mailSuccess">
        <div *ngIf="mailPending" class="sendmail-message">Sending message...</div>
        <div *ngIf="mailSuccess" class="sendmail-message"  [@fadeInOut]>Success! <br /> Thank you for your question, I will answer as soon as possible.</div>
      </div>
      <div class="txt-input-left">
        <span class="label-for-field">Name</span> &nbsp; <span class="validation-error" *ngIf="validationError.name">{{validationError.name}}</span>
        <input type="text" [value]='data.name' (input)="changeValue($event)" id="name" placeholder="Your name" />
      </div>
      <div class="txt-input-right">
        <span class="label-for-field">Email</span> &nbsp; <span class="validation-error" *ngIf="validationError.email">{{validationError.email}}</span>
        <input type="text" [value]='data.email' (input)="changeValue($event)" id="email" placeholder="Your email" />
      </div>
      <span class="label-for-field">Message</span> &nbsp; <span class="validation-error" *ngIf="validationError.message">{{validationError.message}}</span>
      <textarea
        name=""
        cols="30"
        rows="8"
        [value]="data.message"
        (input)="changeValue($event)"
        id="message"
        placeholder="Your message">
      </textarea>
      <div class="error-block" *ngIf="mailError"> <span>Oops! Something went wrong. Try again or <a href="mailto:christophe@roekeloos.be">send me an email in stead.</a> </span></div>
      <button (click)="sendMail()" [disabled]="mailSuccess || mailPending">Send</button>
    </div>
  </div>
  <clear></clear>
</div>
