.contact-container {
  background-color: #fdfdfd;
  width: 90%;
  max-width: 1200px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  border: 1px solid #e4e3e3;
  border-radius: 2px;
  padding: 40px 30px 20px;
  margin-top: -250px;
}

.left-side {
  float: left;
  width: 60%;
}
.right-side {
  float: right;
  width: 38%;
}

.face-badge {
  position: relative;
}

.face-circle {
  background-image: url("./assets/face.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 140px;
  height: 140px;
  border: 3px solid gray;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 200px;
}



.roek-title {
  font-size: 2.3em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  display: block;
}
.roek-mini-line {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  top: -2px;
}

input[type='text'], textarea {
  font-family: inherit;
  display: block;
  width: 98%;
  margin: 10px 0;
  font-size: 1.2em;
  min-height: 1.5em;
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
  padding: 4px;
}

input[type='button'] {
  background-color: #7b0000;
  padding: 5px 12px;
  border: 1px solid #1f0000;
  border-radius: 3px;
  color: #fff;
}

.txt-input-left, .txt-input-right {
  width: 49%;
  float: left;
  margin-right: 1%;
}

.txt-input-left input[type='text'] {
  width: 95%
}

.text-body {
  width: 100%;
  position: relative;
}

.emph {
  font-weight: bold;
}

.text-body p {
  margin: 5px 0;
}

.address {
  padding: 15px 20px;
  background-color: #f3f3f3;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  margin-bottom: 10px;
}

.address.first {
  margin-top: 20px;
}

.github-icon, .linkedin-icon, .instagram-icon {
  background-size: cover;
  width: 1em;
  height: 1em;
  display: inline-block;
}

.github-icon {
  background-image: url('./assets/mark-github-256.png');
}

.linkedin-icon {
  background-image: url('./assets/34227.png');
}

.instagram-icon {
  background-image:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z'/></svg>");
}

@media (max-width: 920px) {
    .right-side, .left-side {
        float: none;
        width: 100%;
    }

    .left-side {
      box-sizing: border-box;
      margin-top: 30px;
      padding: 20px;
      background-color: white;
      border: 1px solid #efefef;
    }
    .face-circle {
      width: 50px;
      height: 50px;
      float: right;
      position: unset;
    }
}
