<div class="contact-container">
  <div class="right-side">
    <div class="text-body">
      <div class="face-badge">
        <div class="tagline">
          <div class="face-circle"></div>
          <span class="roek-title">Roekeloos.be</span>
          <span class="roek-mini-line">Web development, ramblings and writing</span>
        </div>
      </div>
    </div>
    <div class="address first">
      Zwijgerstraat 16 <br />
      2000 Antwerp <br />
      Belgium <br />
    </div>
    <div class="address">
      BTW &raquo; BE0673 951 149 <br />
    </div>
    <div class="address">
      <a href="mailto:christophe@roekeloos.be">christophe@roekeloos.be</a> <br />
      Tel.  &raquo; +32 486 077 048<br /><br />
      <div class="github-icon"></div>&nbsp;<a href="https://github.com/ChristopheVandePoel" target="_blank">Github</a><br />
      <div class="linkedin-icon"></div>&nbsp;<a href="https://www.linkedin.com/in/christophe-van-de-poel/" target="_blank">LinkedIn</a><br />
      <div class="instagram-icon"></div>&nbsp;<a href="https://www.instagram.com/roekeloos.be/" target="_blank">Instagram</a><br />
    </div>
  </div>
  <div class="left-side">
    <div class="text-body">
      <p>Hi, I'm <span class="emph">Christophe Van de Poel</span>, Web Developer and proud owner of <span class="emph">Roekeloos.be</span>.</p>
      <p>I can provide a complete solution to your online needs, using the coolest toys.</p>
    </div>
    <div class="contact-form">
      <p>Feel free to  <span class="emph">contact me</span> if you need help with your dream, or if you need someone to fend off disaster:</p>
      <div class="txt-input-left">
        <span class="label-for-field">Name</span>
        <input type="text" [value]='data.name' (input)="changeValue($event)" id="name" placeholder="Your name" />
      </div>
      <div class="txt-input-right">
        <span class="label-for-field">Email</span>
        <input type="text" [value]='data.email' (input)="changeValue($event)" id="email" placeholder="Your email" />
      </div>
      <span class="label-for-field">Message</span>
      <textarea
        name=""
        cols="30"
        rows="8"
        [value]="data.message"
        (input)="changeValue($event)"
        id="message"
        placeholder="Your message">
      </textarea>
      <input type="button" value="send" (click)="sendMail()" />
    </div>
  </div>
  <clear></clear>
</div>
