.container {
    font-size: 1.3em;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5em; 
}

.fixTitle {
    position: fixed;
    top: 0;
    max-width: inherit;
    width: 75%;
    color: white;
    padding-left: 10px;
    z-index: 100;
    animation-name: card-transfer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@media (max-width: 750px) {
    .fixTitle {
        width: 87%;
    }
}

img {
    padding: 2px;
    border: 1px solid lightgray;
    max-width: 100%;
    height: auto;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

@keyframes author-animate {
    from {
        padding-top: 10px;
        margin: 0 20% 0 30%;
        }
    to {
       padding-top: 0px;
       margin: -25px 0 0 -40px;
        }
}

@keyframes card-transfer {
    from {
        background-color: #fbfbfb;
    }
    to {
        background-color: rgba(47, 47, 47, 0.9);
    }
}

.author-card {
    background-color: #fbfbfb;
    padding: 10px;
    border: 1px solid #f2f2f2;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 0.7em;
}

.fixTitle div.author-card {
    background-color: transparent;
    padding: 10px;
    padding-top: 0px;
    padding-left: 0;
    border: 0 solid #f2f2f2;
    border-left: 0 solid #e6e6e6;
    border-right: 0 solid #e6e6e6;
    border-radius: 0;
    font-size: 0.7em;
}

.centered {
    margin: 0 20% 0 30%;
    max-width: 275px;
}

.fixTitle div.centered{
    animation-name: author-animate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fixTitle h1{
    margin-bottom: 0;
    margin-left: 25px;
    font-size: 1.2em;
}

span {
    padding-left: 15px;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.post-container {
    margin-top: 100px; 
}

.post-container.push-container{
    position: relative;
    top: 110px;
}

/* Prediction-breaking shite */
.post-container /deep/ pre {
    display: block;
    overflow: auto;
}

.post-container /deep/ img {
    margin: 0 10px 10px 10px;
    padding: 2px;
    border: 1px solid lightgray;
    max-width: 100%;
    height:auto;
}

.post-container /deep/ img.alignright {
    float: right;
}

.post-container /deep/ img.alignleft {
    float: left;
}

@media (max-width: 575px) {
    .post-container /deep/ img.alignright, .post-container /deep/ img.alignleft {
        display: block;
        margin: 25px auto;
        float: none;
    }
}