.container {
    width: 75%;
}

.container img {
    width: 100%;
    height: auto;
    padding: 5px;
    border: 1px solid gray;
}

@media (max-width: 700px) {
    .container {
        width: 100%
    }
}
