div.bannerContainer {
    background-image: url("../../../../assets/banner.jpg");
    background-size: cover;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    height: 600px;
}

div.codeContainer {
    position: relative;
    width: 75%;
    margin: 0 auto;
    bottom: -250px;
}

.roek-title {
    color: #fff;
    font-size: 3.8em;
    margin: 0 auto;
    text-align: center;
    display: block;
    letter-spacing: 0.3em;
}

:host {
    display: block;
}

@media (max-width: 920px) {
    div.bannerContainer{
        height: 350px;
    }
    div.codeContainer {
        bottom: -40px;
    }
  .roek-title {
    display: none;
  }
}
