div.content {
    background-color: #f8f8f8;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 40px;;
    width:50%;
}

.contact {
    font-size: 0.8em; 
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    width: 50%
}