.container {
    margin: 0 20px;
}

h2 {
    margin-bottom: 0;
}

.author-name {
    font-size: 0.8em;
}












/* Prediction-breaking shite */
:host /deep/ img {
    margin: 0 10px 10px 10px;
    padding: 2px;
    border: 1px solid lightgray;
    max-width: 100%;
    height:auto;
}

:host /deep/ img.alignright {
    float: right;
}

:host /deep/ img.alignleft {
    float: left;
}

@media (max-width: 450px) {
    :host /deep/ img.alignright {
        display: block;
        margin: 0 auto;
    }
}