h1 {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    max-width: 75%;
    text-align: right;
    cursor: pointer;
}

hr {
    background-color: #e4e4e4;
    border: none;
    border-collapse: collapse; 
    display: block;
    height: 1px;
}