div {
    color: white;
    height: 0;
    font-size: 1.1em;
}

.logo {
    position: absolute;
    width: 80px;
    height: auto;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
}

.header-menu {
  position: absolute;
  right: 0;
  padding: 10px;
  z-index: 1;
}

ul, li {
  display: inline-block;
}

li {
  float: left;
  margin-right: 20px;
  cursor: pointer;
}

li:hover {
  font-weight: bold;
}
